<%= form_with(model: @wiki, local: true) do |form| %>

  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>
      <ul>
      <% wiki.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group"">
    <p>Title:</p>
    <% form.label :title %>
    <%= form.text_field :title %> </div>
  <div class="">
    <p>Body:</p>
    <% form.label :body %>
    <%= form.text_area :body %>
  </div>
  <% if current_user.admin? || current_user.premium? %>
    <div class="form-group"">
      <%= check_box 'wiki', :private, {}, 'true', 'false' %> Private wiki
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
