<p id="notice"><%= notice %></p>

<h2>Titlle</h2>
<div>
<%= @wiki.title %>
</div>
<h2>Body</h2>
<div>
<%= markdown(@wiki.body) %>
</div>

<% if policy(@wiki).update? %>
<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<% end %>
<%= link_to 'Back', wikis_path %>


