<%= form_tag charges_path do %>
  <h4>Click the button!</h4>
  <input type="hidden" value="<%= form_authenticity_token() %>"name="authenticity_token"/>
  <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
<% end %>
